.app-menu-responsivo{
   height: calc(100vh - 56px - 27px);
   width: 240px;
   padding: 16px;
   overflow: auto;
   background-color: purple;
}


.offcanvas-collapse {
   position: fixed;
   top: 0px; /* Height of navbar */
   bottom: 0;
   width: 40%;
   padding-right: 1rem;
   padding-left: 1rem;
   overflow-y: auto;
   background-color: var(--gray-dark);
   transition: -webkit-transform .3s ease-in-out;
   transition: transform .3s ease-in-out;
   transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
   -webkit-transform: translateX(100%);
   transform: translateX(100%);
 }
 .offcanvas-collapse.open {
   -webkit-transform: translateX(-1rem);
   transform: translateX(-1rem); /* Account for horizontal padding on navbar */
   z-index: 10000;
 }