<div #menu class="d-none">
    <ul class="navbar-nav w-100">

        <li class="nav-item p-0 m-0" style="text-align: end;" (click)="menuOpen(menu)" *ngIf="{ 
            open: open$ | async,
            visivel: visivel$ | async 
        } as menu">
            <button *ngIf="!menu.visivel" class="btn btn-primary-outline">
                <i class="text-primary fa-solid" [ngClass]="menu.open ? 'fa-xmark' : 'fa-bars'"></i>
            </button>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
    </ul>
</div>