<div class="layout">
    <app-navbar></app-navbar>
    <div class="d-flex">
        <div class="d-none flex-column align-items-start justify-content-start p-0 position-relative" [ngClass]="open ? '' : 'd-md-flex'">
            <app-menu-responsivo></app-menu-responsivo>
        </div>
        <div class="form flex-fill p-0 min-vh-100">
            <app-conteudo>
                <router-outlet></router-outlet>
            </app-conteudo>
        </div>
    </div>
    <app-footer></app-footer>
</div>