<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="mr-4 mt-2">
        <button class="btn btn-primary-outline" (click)="openMenu(menu)" *ngIf="{ 
            open: open$ | async,
            visivel: visivel$ | async 
        } as menu">
            <i class="text-primary fa-solid" [ngClass]="menu.open ? 'fa-xmark' : 'fa-bars'"></i>
        </button>
    </div>
    <ul class="nav justify-content-start text-uppercase">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicos" routerLinkActive="active">Serviços</a>
        </li>
    </ul>
</nav>